#navbar {
  height:40px;
  width:100%;
}

@font-face { 
  font-family: 'AcroterionJF'; 
  src: url(fonts/Acroterion JF Regular.ttf) format('truetype');
  font-style: normal;
  font-weight: 100;
}

p { 
  font-family: AcroterionJF;
  font-weight: 100; 
}
